@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 40px;
    padding: 8px, 2px;
  }
   
  h2 {
    font-size: 24px;
    margin: 48px 0 24px;
    padding: 40px 0 0;
  }

  h3 {
    font-size: 20px;
    margin: 32px 0 12px;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
  }

  h5 {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
  }

  code {
    padding: 0.5rem;
    background-color: #f1f1f1;
    overflow: auto;
  }

  pre > code {
    padding: unset;
    overflow: auto;
    background-color: unset;
  }

  h2 + .md_paragraph,
  h3 + .md_paragraph {
    margin-top: 0;
  }

  .md_paragraph {
    margin: 20px 0;
    font-size: 16px;
  }

  a {
    color: #1a202c;
    text-decoration: underline;
  }

  /* reset navbar : link in nav bar shall have no underline*/ 
  .group {
    text-decoration: none;
  }
}
